{% extends "after_login_core.html" %}
{% block content %}
                <a class = "czat" href="https://www.microsoft.com/pl-pl/microsoft-teams/log-in" target = "_blank">
                    <button style = "font-size: 20px">Czat</button>
                </a>
                <div class="container-fluid">
                    <h1 class="mt-4">Moje wizyty online</h1>
                    <hr>
                    <section>
                        <table style = "margin-top: 50px">
                            <thead>
                                <tr>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th style = "width: 15%">Data wizyty</th>
                                    <th style = "width: 15%">Godzina wizyty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
{% endblock %}