{% extends "after_login_core.html" %}
{% block content %}
                <div class="container-fluid">
                    <h1 class="mt-4">Moi pacjenci</h1>
                    <hr>
                    <table style = "margin-top: 50px">
                        <thead>
                            <tr>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Notatki z wizyty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td style = "width: 10%"><input type = "file"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
{% endblock %}